<div class="main">
    <header>Dashboard</header>
    <div class="dashboard">

        <div id="view-products" class="containers" (click)="onClick()">
            <span>View Inventory</span>
        </div>
        <div id="add-container" class="containers" (click)="addProducts()">
            <span>Add Products</span>
        </div>
        <div id="update-container" class="containers" (click)="updateProducts()">
            <span>Update Products</span>
        </div>
        

    </div>
</div>