
<form #addProduct="ngForm" class="products" (submit)="onSubmit(addProduct.value)">

    <span></span>

        <label for="p_name">Product Name</label>
        <input type="text" id="p_name" name="productName" [(ngModel)]="productName">

        <label for="p_name">Bar code</label>
        <input type="text" id="bar_code" name="barCode" [(ngModel)]="barCode">

        <label for="hsn_code">HSN</label>
        <input type="text" id="hsn_code" name="hsnCode" [(ngModel)]="hsnCode">

        <label for="p_mrp">MRP</label>
        <input type="text" id="p_mrp" name="productMrp" [(ngModel)]="productMrp">

        <label for="p_uprice">Unit Price</label>
        <input type="text" id="p_uprice" name="productUnitPrice" [(ngModel)]="productUnitPrice">

        <label for="p_sgst">SGST</label>
        <input type="text" id="p_sgst" name="productSGST" [(ngModel)]="productSGST">

        <label for="p_cgst">CGST</label>
        <input type="text" id="p_cgst" name="productCGST" [(ngModel)]="productCGST">

        <button type="submit">Add</button>


</form>

<div *ngIf="saveSuccesful">
    <span>Data saved successfully</span>
</div>

