<div class="header-div">
    <div class="header-navbar-div">
        <div class="logo">
            <img src="../../../../assets/Bill-oh designs/Bill-oh.png"/>
        </div>
        <div class="buttons">
            <button type="text" class="basic-button login">Login</button>
            <button type="text" class="basic-button signup">Signup</button>
        </div>
        <div class="menu-box">
            <button type="text" class="menu">Home</button>
            <button type="text" class="menu">About</button>
            <button type="text" class="menu">Services</button>
            <button type="text" class="menu">Contact</button>
        </div>
    </div>
</div>