@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    min-height:1200px ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-pecita: Pecita;
    --font-inter: Inter;
  
    /* Colors */
    --color-indianred-100: rgba(225, 106, 106, 0.3);
    --color-indianred-200: rgba(225, 106, 106, 0.18);
    --color-black: #000;
  }

  
  